<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Get Rexy - The home of the pets</title>


  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../../webPages/libraries/bootstrap/css/bootstrap.min.css" />

  <!-- Custom styles for this template -->
  <link href="../../webPages/static.webPages/css/springPage.css" rel="stylesheet">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">


  <script src="https://kit.fontawesome.com/e19d49ea63.js" crossorigin="anonymous"></script>


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-spring fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/home/homeNotSignedIn">
      <i class="fa fa-dog"></i>
      Get Rexy
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home/homeNotSignedIn">
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="..animals/searchPet.html">
            <i class="fas fa-cat"></i> Adopt a pet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/login">
            <i class="fa fa-sign-in-alt"></i> Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/register">
            <i class="fa fa-user-plus"></i> Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


  <div class="jumbotron jumbotron-fluid">
    <div class="container" align="center">
      <h2 class="display-4">Get Rexy - The home of adoption and rehome pets</h2>
      <p class="lead">Get Rexy is the place for pet owners who are seeking to re-home their pet, and for great humans who are seeking to add a new pet to their life.</p>
      <a href="/animals/searchPet" class="btn btn-success" target="_blank"><i class="fa fa-paw"></i> Adopt a pet</a>
      <a href="/animals/rehomePet" class="btn btn-success" target="_blank"><i class="fas fa-home"></i> Re-home your pet</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>You have been logged out, see you next time!</h2>
      <hr>
    </div>
    <div class="col-md-3"></div>
  </div>
</body>
</html>