<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Get Rexy - The home of the pets</title>


    <link rel="stylesheet" href="../../webPages/libraries/bootstrap/css/bootstrap.min.css" />

    <link href="../../webPages/static.webPages/css/springPage.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">


    <script src="https://kit.fontawesome.com/e19d49ea63.js" crossorigin="anonymous"></script>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-spring fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/index">
            <i class="fa fa-dog"></i>
            Get Rexy
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/users/loggedInUser">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/animals/rehomePet">
                        <i class="fas fa-house-user"></i> Re-home a pet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/animals/searchPet">
                        <i class="fas fa-cat"></i> Adopt a pet</a>
                </li>
                <!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/users/userProfile">-->
<!--                        <i class="fa fa-user"></i> Account</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/users/loggedOutUser">
                        <i class="fa fa-user"></i> Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="jumbotron jumbotron-fluid">
    <div class="container" align="center">
        <h2 class="display-4">Get Rexy - The home of adoption and rehome pets</h2>
    </div>
</div>

<div id="profile" class="container">

    <div class="row">
        <div class="col-10 offset-1">
            <div class="row">
                <div class="card col-12">
<!--                    <img th:src="${pet.pic_location}" alt="Girl in a jacket" width="500" height="600">-->
                    <img class="card-img-top" th:src="${pet.pic_location}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">
                        </p>
                        <a href="rehomePet.html"><button type="button" class="btn btn-primary btn-lg btn-block">Adopt me!</button></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card col-12">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${pet.name}"></h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="'Pet ID number: '+${pet.id}"></h6>
                        <p class="card-text" th:text="'Category: '+${pet.category}"></p>
                        <p class="card-text" th:text="'Type: '+${pet.type}"></p>
                        <p class="card-text" th:text="'Age: '+${pet.age}"></p>
                        <p class="card-text" th:text="'Size: '+${pet.size}"></p>
                        <p class="card-text" th:text="'First published by: '+${pet.created_at}"></p>
                        <p class="card-text" th:text="'Short description: '+${pet.short_description}"></p>
                        <p class="card-text" th:text="'Long description: '+${pet.long_description}"></p>
                        <p class="card-text" th:text="'Owner name is: '+${user.name}"></p>
                        <p class="card-text" th:text="'Owner user name is: '+${user.userName}"></p>
                        <p class="card-text" th:text="'Owner Email is: '+${user.userEmail}"></p>
                        <p class="card-text" th:text="'Owner Phone number is: '+${user.userPhoneNumber}"> : </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>