<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Get Rexy - The home of the pets</title>

    <link rel="stylesheet" href="../../webPages/libraries/bootstrap/css/bootstrap.min.css" />

    <link href="../../webPages/static.webPages/css/springPage.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">

    <script src="https://kit.fontawesome.com/e19d49ea63.js" crossorigin="anonymous"></script>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-spring fixed-top">
    <div class="container">
        <a class="navbar-brand" href="../index.html">
            <i class="fa fa-dog"></i>
            Get Rexy
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/users/loggedInUser">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/animals/rehomePet">
                        <i class="fas fa-house-user"></i> Re-home a pet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/animals/searchPet">
                        <i class="fas fa-cat"></i> Adopt a pet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/userProfile">
                        <i class="fa fa-user"></i> Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/loggedOutUser">
                        <i class="fa fa-user"></i> Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="jumbotron jumbotron-fluid">
    <div class="container" align="center">
        <h2 class="display-4">Get Rexy - The home of adoption and rehome pets</h2>
        <p class="lead">Get Rexy is the place for pet owners who are seeking to re-home their pet, and for great humans who are seeking to add a new pet to their life.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4>Re-home your pet</h4>
            <h5> Add your pet to our family</h5>
            <br/>
            <form method="POST" th:action="@{/animals/addAnimalToData}" th:object="${animals}">
                <div class="form-group">
                    <label for="title">Pet's Name</label>
                    <input type="text"
                           class="form-control"
                           id="title"
                           placeholder="Enter Title"
                           required="required"
                           th:field="*{name}">
                    <small th:errors="*{name}" style="color:red;"></small>
                </div>
                <div class="form-group">
                    <label for="title">Age</label>
                    <input type="text"
                           class="form-control"
                           id="age"
                           placeholder="Enter Title"
                           required="required"
                           th:field="*{age}">
                    <small th:errors="*{age}" style="color:red;"></small>
                </div>
                <div class="form-group">
                    <label for="title">Type</label>
                    <select type="text" class="form-control" id="type" placeholder="Pet size" required="required" th:field="*{type}">
                        <option value="" disabled selected>Please select your pet type</option>
                        <option value="Cat"> Cat</option>
                        <option value="Dog"> Dog</option>
                        <option value="Fish"> Fish</option>
                        <option value="Rabbit"> Rabbit</option>
                        <option value="Mouse"> Mouse</option>
                    </select>
                    <small th:errors="*{type}" style="color:red;"></small>
                </div>
                <div class="form-group">
                    <label for="title">Type</label>
                    <select type="text" class="form-control" id="category" placeholder="category" required="required" th:field="*{category}">
                        <option value="" disabled selected>Please select your pet type</option>
                        <option value="Mammals"> Mammals</option>
                        <option value="Amphibians"> Amphibians</option>
                        <option value="Fish"> Fish</option>
                        <option value="Rats"> Rats</option>
                    </select>
                    <small th:errors="*{category}" style="color:red;"></small>
                </div>
                <div class="form-group">
                    <label for="title">What size is your pet?</label>
                    <input type="text"
                           class="form-control"
                           id="size"
                           placeholder="Enter size in Kg"
                           required="required"
                           th:field="*{size}">
                    <small th:errors="*{size}" style="color:red;"></small>
                </div>
                <div class="form-group">
                    <label for="short_description">Short description</label>
                    <textarea class="form-control" id="short_description" rows="3" th:field="*{short_description}">Please add a short description here</textarea>
                </div>
                <div class="form-group">
                    <label for="long_description">Long description</label>
                    <textarea class="form-control" id="long_description" rows="3" th:field="*{long_description}">Please add a long description here</textarea>
                </div>
                <div>
                    <label for="pic_location">Please upload a photo ot your pet</label>
                    <input type="text" id="pic_location" name="pic_location" th:field="*{pic_location}" multiple>
                </div>
                <div class="form-group">
                    <label for="title">Please enter your name</label>
                    <input type="text"
                           class="form-control"
                           id="owner_id"
                           placeholder="Enter Title"
                           required="required"
                           th:field="*{owner_id}">
                    <small th:errors="*{owner_id}" style="color:red;"></small>
                </div>
                <button type="submit" class="btn btn-primary">Re-home my pet <i class="fas fa-paw"></i></button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

</body>

</html>