<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Get Rexy - The home of the pets</title>


    <link rel="stylesheet" href="../../webPages/libraries/bootstrap/css/bootstrap.min.css" />

    <link href="../../webPages/static.webPages/css/springPage.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">

    <script src="https://kit.fontawesome.com/e19d49ea63.js" crossorigin="anonymous"></script>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-spring fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/index">
            <i class="fa fa-dog"></i>
            Get Rexy
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/users/loggedInUser">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/animals/rehomePet">
                        <i class="fas fa-house-user"></i> Re-home a pet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/animals/searchPet">
                        <i class="fas fa-cat"></i> Adopt a pet</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/users/userProfile">-->
<!--                        <i class="fa fa-user"></i> Account</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/users/loggedOutUser">
                        <i class="fa fa-user"></i> Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container" align="center">
        <h2 class="display-4">Get Rexy - The home of adoption and rehome pets</h2>
        <p class="lead">Get Rexy is the place for pet owners who are seeking to re-home their pet, and for great humans who are seeking to add a new pet to their life.</p>
    </div>
</div>

<div class="container">
    <h2>Here are all of your pets:</h2>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Size</th>
            <th scope="col">Published at</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Category</th>
        </tr>
        </thead>
        <tr th:each="pet : ${pets}">
            <td th:text="${pet.id}">Id</td>
            <td th:text="${pet.name}">Name</td>
            <td th:text="${pet.age}">Age (Years)</td>
            <td th:text="${pet.size}">Size (Kilograms)</td>
            <td th:text="${pet.created_at}">Published at</td>
            <td th:text="${pet.type}">Type</td>
            <td th:text="${pet.status}">Status</td>
            <td th:text="${pet.category}">Category</td>
        </tr>
    </table>
    <form class="form-horizontal" role="form" th:action="@{/animals/removePet}" th:object="${animals}" method="POST">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Do you want to remove one of your pets?</h2>
                <hr>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="sr-only" for="name">Pet name</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Your pet name" required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row" style="padding-top: 1rem">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> Remove </button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>

</div>
</body>
</html>